<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/statics/style.css">

    <title>Thank</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: black;
        }

        h2 {
            text-align: center;
            font-size: 5vw;
            color: white;
        }
    </style>

</head>

<body>
    <h2>Thank You ~</h2>
</body>
</html>
